<template>
    <div>
        <div>
            <button class="btn-play" v-show="countPlayableNode > 0" v-on:click="play">PLAY</button>
            <h3>再生ゾーン</h3>
            <draggable v-model="itemsA" group="myGroup" @start="drag=true" @end="drag=false" :options="options"
                       style="height: 180px; border: 1px dotted #ccc">
                <div class="item" v-for="item in itemsA" :key="item.id">
                    <img :src="item.image" alt="" width="150px" v-on:click="playNodeSound(item)">
                </div>

            </draggable>
        </div>
        <div>
            <h3>音符置き場</h3>
            <draggable v-model="itemsB" group="myGroup" @start="drag=true" @end="drag=false" :options="options">
                <div class="item" v-for="item in itemsB" :key="item.id">
                    <img :src="item.image" alt="" width="150px" v-on:click="playNodeSound(item)">
                </div>
            </draggable>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: "dnd",

        components: {draggable},

        data() {
            return {
                options: {
                    group: "myGroup",
                    animation: 200
                },
                itemsA: [],
                itemsB: [
                    {
                        id: 1,
                        name: 'name06',
                        image: require('../assets/images/notes/red_note.svg'),
                        sound: require('../assets/sounds/sample1.mp3')
                    },
                    {
                        id: 2,
                        name: 'name07',
                        image: require('../assets/images/notes/blue_note.svg'),
                        sound: require('../assets/sounds/sample2.mp3')
                    },
                    {
                        id: 3,
                        name: 'name08',
                        image: require('../assets/images/notes/green_note.svg'),
                        sound: require('../assets/sounds/sample3.mp3')
                    },
                    {
                        id: 4,
                        name: 'name09',
                        image: require('../assets/images/notes/pink_note.svg'),
                        sound: require('../assets/sounds/sample4.mp3')
                    },
                ]
            }
        },

        computed: {
            countPlayableNode: function () {
                return this.itemsA.length;
            },
        },

        methods: {
            playNodeSound: function (item) {
                const audio = new Audio();
                audio.src = item.sound;
                audio.play();
            },

            play: function () {

                const countNode = this.itemsA.length;

                const audio1 = new Audio();
                const audio2 = new Audio();
                const audio3 = new Audio();
                const audio4 = new Audio();

                audio1.src = this.itemsA[0].sound;
                audio1.play();

                if (countNode > 1) {
                    audio1.addEventListener('ended', {
                        nextSound: this.itemsA[1].sound, handleEvent: function () {
                            audio2.src = this.nextSound;
                            audio2.play();
                        }
                    });
                }

                if (countNode > 2) {
                    audio2.addEventListener('ended', {
                        nextSound: this.itemsA[2].sound, handleEvent: function () {
                            audio3.src = this.nextSound;
                            audio3.play();
                        }
                    });
                }

                if (countNode > 3) {
                    audio3.addEventListener('ended', {
                        nextSound: this.itemsA[3].sound, handleEvent: function () {
                            audio4.src = this.nextSound;
                            audio4.play();
                        }
                    });
                }
            }
        }
    }
</script>

<style scoped>
    .item {
        display: inline-block;
        margin: 10px;
        /*padding: 10px;*/
        /*border: 1px solid #7f7f7f;*/
        /*border-radius: 10px;*/
        /*background-color: #ffffff;*/
    }

    .item:hover {
        cursor: grab;
    }

    .item:active {
        cursor: grabbing;
    }

    .btn-play {
        width: 400px;
        height: 100px;
        font-family: "Roboto Light";
        font-size: 30px;
        border-radius: 10px;
    }
</style>
